<div class="container">
  <div class="titlebar">
    Companies
  </div>
  <table class="table">
    <thead>
      <tr class="list">
        <div>
          <th>ID</th>
        </div>
        <div>
          <th>Company Name</th>
        </div>
        <div>
          <th>Actions</th>
        </div>
      </tr>
    </thead>
    <tbody>
      <tr class="list"style="background-color: rgb(220, 220, 220)" *ngFor="let company of companies">
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>
          <button (click)="deleteCompany(company.id)" *ngIf="company.id !== undefined">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>