<div class="container">
  <div class="titlebar">
    Companies
  </div>
  <table class="table">
    <thead>
      <tr class="list">
        <div style="display: grid; grid-template-columns: 100px;">
          <th>ID</th>
        </div>
        <div style="display: grid; grid-template-columns: 600px; margin-left: 110px;">
          <th>Company Name</th>
        </div>
        <div style="display: grid; grid-template-columns: 600px; margin-left: 720px;">
          <th>Actions</th>
        </div>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let company of companies">
        <td>{{ company.id }}</td>
        <td>{{ company.name }}</td>
        <td>
          <button (click)="deleteCompany(company.id)" *ngIf="company.id !== undefined">Delete</button>

        </td>
      </tr>
    </tbody>
  </table>
</div>