.titlebar {
  background-color: rgb(255, 255, 255);
  padding : 2px;
  font-size: 20px;
  font-weight: bolder;
}

.table {
  background-color: rgb(220, 220, 220);
}

.list {
  background-color: rgb(188, 188, 188);
  padding: 2px;
  display: grid;
  grid-template-columns: 20px 200px 200px;
  column-gap: 100px;
  row-gap: 100px;
}



