<div class="container">
  <h2>{{ company.id ? 'Update Company' : 'Create Company' }}</h2>
  <form (ngSubmit)="saveCompany()">
    <div>
      <label for="id">ID:</label>
      <input type="number" id="id" [(ngModel)]="company.id" name="id" />
    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" [(ngModel)]="company.name" name="name" required />
    </div>
    <div class="form-group">
      <label for="organizationNumber">Organization Number</label>
      <input type="number" class="form-control" [(ngModel)]="company.organizationNumber" name="organizationNumber" required />
    </div>
    <div class="form-group">
      <label for="contactPerson">Contact Person</label>
      <input type="text" class="form-control" [(ngModel)]="company.contactPerson" name="contactPerson" required />
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" class="form-control" [(ngModel)]="company.phoneNumber" name="phoneNumber" required />
    </div>
    <button type="submit" class="btn btn-primary">{{ company.id ? 'Update' : 'Create' }}</button>
  </form>
</div>