<div class="container">
  <div class="title">
    <h2>Companies</h2>
  </div>

  <table>
    <thead>
    <tr>
      <th style="width: 50px">ID</th>
      <th style="width: 524px">Company Name</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of paginatedCompanies">
      <td style="width: 50px">{{ company.id }}</td>
      <td style="width: 524px">{{ company.name }}</td>
      <td style="width: 130px; text-align: right;">
        <button
          style="margin-right: 8px;"
          (click)="deleteCompany(company.id)"
          *ngIf="company.id !== undefined && isAdmin"
        >
          Delete
        </button>
        <button
          (click)="viewCompany(company.id)"
          *ngIf="company.id !== undefined"
        >
          View
        </button>
      </td>
    </tr>
    </tbody>
  </table>



  <div class="pagination-container">
    <!-- Items Per Page Selector -->
    <div class="pagination-controls">
      <label for="itemsPerPage">Items per page:</label>
      <select id="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="onItemsPerPageChange(itemsPerPage)">
        <option *ngFor="let option of pageSizeOptions" [value]="option">{{ option }}</option>
      </select>
    </div>

    <!-- Pagination Controls -->
    <div class="pagination">

      <button (click)="previousPage()" [disabled]="currentPage === 1" class="pagination-arrow">
        &#8592;
      </button>

      <span>Page {{ currentPage }} of {{ totalPages }}</span>

      <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="pagination-arrow">
        &#8594;
      </button>
    </div>
  </div>

  <!-- Search Box -->
  <div class="search-box">
    <input
      type="text"
      [(ngModel)]="searchTerm"
      placeholder="Search company by name..."
      (input)="filterCompanies()"
    />
  </div>

  <!-- Form viewing company information -->
  <div *ngIf="selectedCompany">
    <h2 class="form_title">Company Details</h2>
    <form>
      <td class="form">
      <label for="companyId">ID:</label>
      <input type="number" id="companyId" [(ngModel)]="selectedCompany.id" placeholder="ID" name="companyId" />

      <label for="companyName">Name:</label>
      <input type="text" id="companyName" [(ngModel)]="selectedCompany.name" placeholder="Company Name" name="companyName" />

      <label for="organizationNumber">Organization Number:</label>
      <input type="text" id="organizationNumber" [(ngModel)]="selectedCompany.organizationNumber" placeholder="Organization Number" name="organizationNumber">

      <label for="contactPerson">Contact Person:</label>
      <input type="text" id="contactPerson" [(ngModel)]="selectedCompany.contactPerson" placeholder="Contact Person" name="contactPerson">

      <label for="phoneNumber">Phone Number:</label>
      <input type="text" id="phoneNumber" [(ngModel)]="selectedCompany.phoneNumber" placeholder="Phone Number" name="phoneNumber">
        <br>
        <button style="horiz-align: right; margin-top: 20px" type="button" (click)="updateSelectedCompany()">Create / Update</button>
      </td>
    </form>
  </div>
</div>
