<div class="container">
  <h2>Välkommen till landningssidan!</h2>
  <p></p>
  <p>
      oirwtj oiwrt juiwhg wuirgb fueiwbfewiubfwefib uiwefb ubcszv iuwbgf.<br>
      ooiaf joiefj qjfjojiiojojifeö equthqeflknsv qefkln lkqnef klnf.<br>
      vbwoiwrhg wroih rwglmnxsbnklswb oiwrg oinrwgoin w oiwrgn oinrwef.
  </p>
  <p>
      oirwtj oiwrt juiwhg wuirgb fueiwbfewiubfwefib uiwefb ubcszv iuwbgf.<br>
      fojiwrg iwogj oirjw goiwrjg oijwrgroiwgjwogji xfbfl wrgrwgojijwrg.<br>
      rwonxfsb wgoi wrognsfbmnjbwregi pwgij wrogn sfblnwroin oiwrgn ok.
  </p>

</div>
<div class="signin">
  <button (click)="goToLogin()" class="login-button">Välkommen in</button>
  <router-outlet />
</div>
