<div>
  <h2>Sign up</h2>
  <div class="header">
    Already have an account?
    <a routerLink="/signin" class="header">Sign in</a>
  </div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form_element">
    <input placeholder="Full Name" formControlName="fullName">
  </div>
  <div class="form_element">
    <input placeholder="E-Mail" formControlName="email">
  </div>
  <div class="form_element">
    <input placeholder="Password" formControlName="password">
  </div>
  <div class="form_element">
    <input placeholder="Confirm Password" formControlName="confirmPassword">
  </div>
  <div class="form_button">
    <button type="submit">Register</button>
  </div>
</form>
</div>
